.calendar-day{
	padding: 2px;
	margin:0px;
	position:absolute;
	text-align: center;
	font-size: 0.9em;
	font-weight: bold;
	font-family: "Lucida Grande", sans-serif;
	background: static_url('images/day-background.png');
	color: #444;
	text-decoration: none;
}

.calendar-day.left-day{
	
}

.calendar-day.today{
	background: static_url('images/day-background.png') left -26px;
	color: white;
}

.calendar-day.other-month{
	font-weight: normal;
	color: #AAA;
	background: static_url('images/day-background.png') left -52px;
}
